@import "tailwindcss";

@theme {
  --font-display: "Inter Variable", sans-serif;
  --color-navy-900: rgb(5 21 94);
}

h1 {
  @apply md:leading-10 font-bold text-white;
  font-size: clamp(1.5rem, 0.5rem + 5.5vw, 2rem);
}

h2 {
  @apply font-semibold text-navy-900;
  font-size: clamp(1.25rem, 0.25rem + 5vw, 1.5rem);
}

h3 {
  @apply font-semibold text-navy-900;
  font-size: clamp(0.875rem, 0.25rem + 3vw, 1rem);
}
